# Rust
target/
Cargo.lock
*.pdb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local 

# Build
src/framework/target
src/framework/challenge/build
src/framework-solve/solve/build
